@page "/"
@using System.Diagnostics
@using System.Text.RegularExpressions
@using Dionysus.App.Data
@using Dionysus.App.Helpers
@using Dionysus.App.Logger
@using Dionysus.App.Models

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/cascadia-code" rel="stylesheet">


<style>
    
    html, body {
        padding: 100px;
        margin: 0 auto;
        user-select: none;
        background-color: #0d1117;
        color: white;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    img {
        pointer-events: none;
    }
    h1:focus {
        outline: none;
    }

    a, .btn-link {
        color: #0071c1;
    }

    .game-list {
        max-width: 730px;
        font-family: "JetBrains Mono", monospace;
        margin: 0 auto;
        user-select: none;
        background-color: #0d1117;
        color: white;
        padding: 0 20px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .game-item {
        aspect-ratio: 16/9;
        height: auto;
        min-height: 260px;
        max-height: 260px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: #1f1d2e;
        padding-left: 15px;
        padding-bottom: 10px;
        margin-top: 10px;
        border-radius: 22px;
        position: relative;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    .game-item:hover {
        transform: translateY(-3px);
        box-shadow: 0 0 30px rgba(33,38,45, 0.7);
    }

    .overlay {
        position: absolute;
        inset: 0;
        border: 1px solid #32362d;
        background: linear-gradient(
            180deg,
            rgba(13, 17, 23, 0.3) 0%,
            rgba(13, 17, 23, 0.6) 25%,
            rgba(13, 17, 23, 0.8) 50%,
            rgba(13, 17, 23, 0.9) 75%, 
            rgba(13, 17, 23, 1) 100%
        );
        border-radius: 20px;
    }

    .overlay2 {
        position: absolute;
        inset: 0;
        border: 1px solid #32362d;
        background: rgba(13, 17, 23, 0.2);
        border-radius: 20px;
    }
    
    .game-info {
        font-family: "JetBrains Mono", monospace;
        z-index: 2;
        color: #c6cdd5;
        font-size: 1.1em;
        margin-bottom: -15px;
        position: relative;
        
    }
    
    .add-game-button {
        background-color: #161b22;
        color: #c6cdd5;
        border-radius: 20px;
        border-style: solid;
        border-color: #32362d;
        border-width: 0.2px;
        padding: 12px 24px;
        font-size: 12px;
        display: block;
        margin: 20px auto;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s, transform 0.3s;
    }

    .add-game-button:hover {
        background-color: #0d1117;
        transform: scale(1.03);
    }

    .add-game-button:active{
        transform: scale(0.97);
    }

    .add-game-form {
        font-family: "JetBrains Mono", monospace;
        display: block;
        background-color: #0d1117;
        padding: 20px;
        border-radius: 20px;
        border-style: solid;
        border-color: #32362d;
        border-width: 0.2px;
        margin-top: 0px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .add-game-form input, .add-game-form textarea {
        font-family: "JetBrains Mono", monospace;
        width: 97%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        border: 0.2px solid #32362d;
        background-color: #161b22;
        color: #c6cdd5;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.6s ease-in-out;
    }
    .add-game-form input:focus,
    .add-game-form textarea:focus{
        outline: #32362d 0.3px solid;
    }
    .add-game-form button {
        font-family: "JetBrains Mono", monospace;
        background-color: #161b22;
        color: #c6cdd5;
        width: 100px;
        border-radius: 20px;
        border-style: solid;
        border-color: #32362d;
        border-width: 0.2px;
        padding: 10px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s, transform 0.3s;
    }

    .add-game-form button:hover {
        background-color: #0d1117;
        transform: scale(1.03);
    }

    .add-game-form button:active{
        transform: scale(0.97);
    }

    .button-container {
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 2;
    }

    .game-item .fa-play{
        background-color: #161b22;
        color: #faa356;
        height: 35px;
        width: 70px;
        border-radius: 20px;
        border-style: solid;
        border-color: #32362d;
        border-width: 0.2px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s, transform 0.3s;
    }
    .game-item .pencil{
        background-color: #161b22;
        color: #c6cdd5;
        height: 35px;
        width: 35px;
        border-radius: 20px;
        border-style: solid;
        border-color: #32362d;
        border-width: 0.2px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s, transform 0.3s;
    }
    .game-item .trash {
        background-color: #161b22;
        color: #fa7970;
        height: 35px;
        width: 35px;
        border-radius: 20px;
        border-style: solid;
        border-color: #32362d;
        border-width: 0.2px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s, box-shadow 0.3s ease-in-out;
    }
    .game-item .fa-pause:hover,
    .game-item .fa-play:hover,
    .game-item .pencil:hover,
    .game-item .trash:hover {
        background-color: #0d1117;
        transform: scale(1.03);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    }

    .game-item .fa-pause:active,
    .game-item .fa-play:active,
    .game-item .pencil:active,
    .game-item .trash:active {
        transform: scale(0.97);
    }
    
    .custom-file-input {
        font-family: "JetBrains Mono", monospace;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 40px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 10px;
    }

    .custom-file-input input[type="file"] {
        font-family: "JetBrains Mono", monospace;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .custom-file-label {
        font-family: "JetBrains Mono", monospace;
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        background-color: #161b22;
        text-align: center;
        color: #c6cdd5;
        border-radius: 20px;
        border-style: solid;
        border-color: #32362d;
        font-size: 14px;
        border-width: 0.2px;
        cursor: pointer;
        user-select: none;
        transition: background-color 0.3s, transform 0.3s;
    }

    .custom-file-label:hover {
        background-color: #0d1117;
        transform: scale(1.01);
    }

    .custom-file-label:active{
        transform: scale(0.97);
    }

    .edit-game-form {
        font-family: "JetBrains Mono", monospace;
        display: block;
        background-color: #0d1117;
        padding: 20px;
        border-radius: 20px;
        border-style: solid;
        border-color:  #32362d;
        border-width: 0.2px;
        margin-top: -25px;
        margin-bottom: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    
    .edit-game-form input,
    .edit-game-form textarea {
        font-family: "JetBrains Mono", monospace;
        width: 97%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        border-style: solid;
        border-color: #32362d;
        border-width: 0.2px;
        background-color: #161b22;
        color: #c6cdd5;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        transition: all 0.6s ease-in-out;
    }
    .edit-game-form input:focus,
    .edit-game-form textarea:focus{
        outline: #32362d 0.3px solid;
    }
    .edit-game-form label {
        color:  #c6cdd5;
        margin-bottom: 10px; 
        display: block;
    }
    input::placeholder{
        color: #89929b;    
    }
    
    .edit-game-form button {
        font-family: "JetBrains Mono", monospace;
        background-color: #161b22;
        color: #c6cdd5;
        width: 100px;
        border-radius: 20px;
        border-style: solid;
        border-color: #32362d;
        border-width: 0.2px;
        padding: 10px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s, transform 0.3s;
    }

    .edit-game-form button:hover {
        background-color: #0d1117;
        transform: scale(1.03);
    }

    .edit-game-form button:active{
        transform: scale(0.97);
    }

    .game-item {
        position: relative;
    }

    .button-container {
        display: none;
    }
    .button-container button {
        margin-right: 5px;
    }

 
    .game-item:hover .button-container {
        display: flex;
    }

    .labelContainer {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        align-items: center;
    }
    .playtime-label {
        font-family: "JetBrains Mono", monospace;
        font-size: 14px;
        color: #c6cdd5;
        background-color: #161b22;
        border-color: #32362d;
        border-style: solid;
        border-width: 0.2px;
        padding: 8px 12px;
        border-radius: 20px;
        display: inline-block;
        margin-right: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        z-index: 3;
    }

    button:disabled,
    button[disabled]{
        opacity: 0.5;
        pointer-events: none;
    }

    .profile {
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 15px;
        width: auto;
        padding: 32px 35px 20px 50px;
        max-width: 730px;
    }

    .profile-image {
        width: 100px;
        height: 100px;
        border-radius: 25px;
        border: 1px solid #32362d;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease;
    }

    .username {
        font-family: "JetBrains Mono", monospace;
        font-size: 20px;
        color: #c6cdd5;
        font-weight: 600;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    }
</style>

<div class="profile">
    @if(!string.IsNullOrEmpty(ProfileData.Profile().Image)){
        <img class="profile-image" src="@ProfileData.GetBase64Image(ProfileData.Profile().Image)"/>
    }
    <div style="flex-direction: column">
        <span class="username">
            @ProfileData.Profile().Username
        </span><br/>
        <span class="username" style="font-size: 14px; color: #74797d">Games: @_gamesList.Count,</span>
        <span class="username" style="font-size: 14px; color: #74797d">
            Total played: @ProfileData.GetTotalPlayTime().TotalHours.ToString("F0")h 
            @ProfileData.GetTotalPlayTime().Minutes.ToString()m
        </span>
    </div>
</div>
<div class="game-list">
    @foreach (var game in _gamesList.OrderByDescending(g => ParseTimeInfo(g.TimeInfo)))
    {
        <div class="game-item" style="background-image: url('@game.ImageUrl');">
            @if (SettingsPage.ShowGameTitle)
            {
                <div class="overlay" style="@(game.Id == _currentGameId ? _onGameStyle : _defaultStyle)"></div>
                <div class="game-info">
                    <h3 style="word-wrap: break-word; text-align: left; font-size: 20px; max-height: 45px">@game.Title</h3>
                </div>
            }
            else
            {
                <div class="overlay2" style="@(game.Id == _currentGameId ? _onGameStyle : _defaultStyle)"></div>
            }
            
            <div class="labelContainer">
                <label class="playtime-label"><i class="fa-regular fa-clock"></i> @game.TimeInfo</label>
                @if (!string.IsNullOrEmpty(game.LastRun))
                {
                    <label class="playtime-label">
                        <i class="fa-solid fa-calendar-days"></i>
                        @(DateTime.Parse(game.LastRun).ToString("dd/MM/yyyy").Replace(".", "/"))
                    </label>   
                }
                @if (GamesMonitor.GameIsDeletedFromDesktop(game))
                {
                    <label class="playtime-label"><i class="fa-solid fa-triangle-exclamation"></i> Archived game</label>
                }
            </div>
            
            <div class="button-container">
                @if (_currentGameId != game.Id)
                {
                    @if (!GamesMonitor.GameIsDeletedFromDesktop(game))
                    {
                        <button class="fa fa-play" id="play-btn" @onclick="() => StartGame(game.Location, game)"></button>   
                    }
                }
                <button class="pencil" id="edit-btn" @onclick="() => ShowEditPanel(game.Id)"><i class="fa-solid fa-gear"></i></button>
                <button class="trash" id="delete-btn" @onclick="() => DeleteGame(game)"><i class="fa-solid fa-trash-can"></i></button>
            </div>
        </div>

        @if (_currentEditGameId == game.Id)
        {
            <div class="edit-game-form">
                <label>Title:</label>
                <input type="text" @bind="game.Title" placeholder="Edit title" required="required">
                <div>
                    <label>Cover:</label>
                    <input type="text"  style="width: 88%" @bind="game.ImageUrl" placeholder="Edit cover url" required="required">
                    <button style="width: 45px" @onclick="() => OpenUrl(SteamGridDB._link)"><i class="fa-solid fa-globe"></i></button>
                </div>
                <div>
                    <label>Location:</label>
                    <input style="width: 80%" type="text" @bind="game.Location" placeholder="Edit location" required="required">
                    <button style="width: 45px;"
                            @onclick="() => SelectFileForEdit(game)">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button style="width: 45px"
                            disabled="@(!File.Exists(game.Location) || string.IsNullOrEmpty(game.Location))"
                            @onclick="() => OpenFolder(game.Location)">
                        <i class="fa-regular fa-folder-open"></i>
                    </button>
                </div>
                <label>Launch options:</label>
                <input type="text" @bind="game.Arguments" placeholder="Edit options" required="required">
                <button @onclick="() => SaveEdit(game.Id)" style="background-color: #238636"><i class="fa-solid fa-floppy-disk"></i></button>
                <button @onclick="() => CancelEdit()"><i class="fa-solid fa-close"></i></button>
            </div>
        }
    }
    @if (!_gamesList.Any())
    {
        <h3 style="text-align: center; width: 100%; color: #21262d; font-family: 'JetBrains Mono', monospace;">Empty.</h3>
    }


    @if (_showAddGameForm)
    {
        <div id="add-game-form" class="add-game-form">
            <input type="text" @bind="_newGame.Title" placeholder="Title (English)" required="required">
            <div class="custom-file-input">
                <label class="custom-file-label" @onclick="@SelectFile" for="fileInput">@(_selectedFile != null ? _selectedFile : "Select \".exe\" file")</label>
            </div>
            <button @onclick="AddGameAsync" ><i class="fa-solid fa-add"></i></button>
            <button @onclick="ToggleForm"><i class="fa-solid fa-close"></i></button>

        </div>
    }

    @if (!_showAddGameForm && SettingsPage.ShowAddButton)
    {
        <button class="add-game-button fa fa-plus" @onclick="ToggleForm"></button>
    }

</div>
@code {
    private int? _currentEditGameId = null;
    private static string _errorText;
    public static List<GameModel> _gamesList = GameData.GamesData.ParseGamesFromJSON().ToList();
    static bool _showAddGameForm = false;
    static GameModel _newGame = new GameModel();
    private static string _selectedFile;
    private int previousGameId = -1;
    static bool _playerPlaying = false;
    private int _currentGameId = -1;
    static string _defaultStyle = "";
    static string _onGameStyle = "border: 2px solid #238636;";
    static Logger _logger = new Logger();
    
    public static TimeSpan ParseTimeInfo(string timeInfo)
    {
        if (string.IsNullOrWhiteSpace(timeInfo))
        {
            return TimeSpan.Zero;
        }

        timeInfo = timeInfo.Trim();
    
        int hours = 0;
        int minutes = 0;

        var hourMatch = Regex.Match(timeInfo, @"(\d+)h");
        if (hourMatch.Success)
        {
            hours = int.Parse(hourMatch.Groups[1].Value);
        }

        var minuteMatch = Regex.Match(timeInfo, @"(\d+)m");
        if (minuteMatch.Success)
        {
            minutes = int.Parse(minuteMatch.Groups[1].Value);
        }

        return new TimeSpan(hours, minutes, 0);
    }

    private static void SelectFileForEdit(GameModel game)
    {
        using (OpenFileDialog openFileDialog = new OpenFileDialog())
        {
            var _prevLocation = game.Location;
            openFileDialog.Filter = "Executable files (*.exe)|*.exe|All files (*.*)|*.*";
            if (openFileDialog.ShowDialog() == DialogResult.OK)
            {
                string fullPath = openFileDialog.FileName;
                game.Location = fullPath;
            }
            else
            {
                game.Location = _prevLocation;
            }
        }
    }
    
    private static void SelectFile()
    {
        using (OpenFileDialog openFileDialog = new OpenFileDialog())
        {
            openFileDialog.Filter = "Executable files (*.exe)|*.exe|All files (*.*)|*.*";
            if (openFileDialog.ShowDialog() == DialogResult.OK)
            {
                string fullPath = openFileDialog.FileName;
                _selectedFile = fullPath;
                _newGame.Location = fullPath;
            }
            else
            {
                _selectedFile = null;
            }
        }
    }

    public static void OpenUrl(string url) => Process.Start("explorer", url);

    public static void OpenFolder(string path)
    {
        if (File.Exists(path))
        {
            Process.Start("explorer.exe", $"/select,{path.Replace("/", @"\")}");
        }
        else
        {
            MessageBox.Show("File does not exist", "Error");
        }
    }

    private void ShowEditPanel(int gameId)
    {
        _currentEditGameId = gameId;
    }

    private void SaveEdit(int gameId)
    {
        var game = _gamesList.FirstOrDefault(g => g.Id == gameId);
        if (game != null)
        {
            GameData.GamesData.SaveToJSON(_gamesList);
        }

        _currentEditGameId = null;
    }

    private void CancelEdit()
    {
        _currentEditGameId = null;
    }

    private void StartGame(string _path, GameModel game)
    {
        try
        {
            Process firstProc = new Process();
            firstProc.StartInfo.FileName = _path;
            if (!string.IsNullOrEmpty(game.Arguments)) firstProc.StartInfo.Arguments = game.Arguments;
            firstProc.StartInfo.WorkingDirectory = Path.GetDirectoryName(_path);
            firstProc.EnableRaisingEvents = true;
            firstProc.Start();
        }
        catch (Exception ex)
        {
            MessageBox.Show(ex.Message);
        }
    }

    static void ToggleForm() => _showAddGameForm = !_showAddGameForm;

    public static async void AddGameAsync()
    {
        int _id = _gamesList.Any() ? _gamesList.Max(g => g.Id) + 1 : 1;
        if (!string.IsNullOrEmpty(_selectedFile))
        {
            try
            {
                _gamesList.Add(new GameModel()
                {
                    Id = _id,
                    ImageUrl = await SteamGridDB.GetGridUri(_newGame.Title),
                    Location = _newGame.Location,
                    TimeInfo = "0h 0m",
                    Title = _newGame.Title
                });
                _newGame = new GameModel();
                _showAddGameForm = false;
                _selectedFile = null;
                await GameData.GamesData.SaveToJSON(_gamesList);
            }
            catch (Exception e)
            {
                MessageBox.Show(e.Message, "Error");
            }
        }
    }

    public static async void AddGameFromAnotherAsync(int _id, string _location, string _gameName)
    {
        try
        {
            _gamesList.Add(new GameModel()
            {
                Id = _id,
                ImageUrl = await SteamGridDB.GetGridUri(_gameName),
                Location = _location,
                TimeInfo = "0h 0m",
                Title = _gameName.Replace("&#8211;", "-")
                    .Replace("&#038;", "&")
                    .Replace("&#8217;", "`")
            });
            _newGame = new GameModel();
            _showAddGameForm = false;
            _selectedFile = null;
            await GameData.GamesData.SaveToJSON(_gamesList);
        }
        catch (Exception e)
        {
            MessageBox.Show(e.Message, "Error");
        }
    }


    private void DeleteGame(GameModel gameToRemove)
    {
        if (MessageBox.Show("Are you sure you want to remove the game from list?", "Question", MessageBoxButtons.YesNo) == DialogResult.Yes)
        {
            _gamesList.Remove(gameToRemove);
            GameData.GamesData.SaveToJSON(_gamesList);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateAsync();
    }
    
    private async Task UpdateAsync()
    {
        GameModel _currentRunningGame = null;
        var delay = 10000;
        while (true)
        {
            try
            {
                var _game = GamesMonitor.GameFromListIsRunning(_gamesList);
                if (_game.runningGame != null && _game.isRunning)
                {
                    if (_currentRunningGame == null || _currentRunningGame.Id != _game.runningGame.Id)
                    {
                        _logger.Log(Logger.LogType.DEBUG, $"{_game.runningGame.Title} running");
                        _currentRunningGame = _game.runningGame;
                        _currentGameId = _game.runningGame.Id;
                        
                        _game.runningGame.LastRun = DateTime.Now.ToString("dd/MM/yyyy");
                        
                        if (!GamesMonitor.isCounting)
                        {
                            GamesMonitor.isCounting = true;
                            _ = Task.Run(() => GamesMonitor.CountPlayTime(_gamesList, _game.runningGame.Location));
                        }
                        delay = 3000;
                    }
                    await InvokeAsync(StateHasChanged);
                }
                else
                {
                    if (_currentRunningGame != null)
                    {
                        _logger.Log(Logger.LogType.DEBUG, $"Game closed");
                        _currentGameId = -1;
                        _currentRunningGame = null;

                        GamesMonitor.isCounting = false;
                        
                        if (SettingsPage.AutoBackup) await Backup.MakeBackupAsync();
                        await InvokeAsync(StateHasChanged);
                        delay = 10000;
                    }
                    await InvokeAsync(StateHasChanged);
                }

                await Task.Delay(delay);
            }
            catch (Exception ex)
            {
                _logger.Log(Logger.LogType.ERROR, $"Error in UpdateAsync: {ex.Message}");
                throw;
            }
        }
    }
    
}