@page "/settings"
@using System.Reflection
@using Dionysus.App
@using Dionysus.App.Data
@using Dionysus.App.Helpers
@using Dionysus.App.Logger
@using Dionysus.App.Models
@using Dionysus.WebScrap.FitGirlScrapper
@using Dionysus.WebScrap.GOGScrapper
@using Dionysus.WebScrap.XatabScrapper
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.VisualBasic
@using Microsoft.VisualBasic.ApplicationServices

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/cascadia-code" rel="stylesheet">

<div class="settingsPage_panel">
    <label class="settingsPage_settingLabel">
        <span>
            Sources:<br/><br/>
            GOG - <i class="@GOGStatus" style="color: @(GOGStatus.Contains("circle-check") ? "#7ce38b" : "#fa7970")"></i><br/>
            Xatab - <i class="@XatabStatus" style="color: @(XatabStatus.Contains("circle-check") ? "#7ce38b" : "#fa7970")"></i><br/>
            FitGirl - <i class="@FitGirlStatus" style="color: @(FitGirlStatus.Contains("circle-check") ? "#7ce38b" : "#fa7970")"></i>
        </span>
    </label>
    <div class="settingsPage_separator">Profile</div>
    <div class="settingsPage_settingLabel" style="flex-direction: column">
        <span>Image:</span><br/>
        <button class="settingsPage_button" style="width: 48%;" @onclick="@ProfileData.SelectImage">
            <i class="fa-solid fa-image"></i> Select image
        </button><br/>
        <span>Username:</span><br/>
        <input class="settingsPage_button input" style="width: 48%; text-align: center; font-size: 13px" @bind="@ProfileData.Profile().Username"
               placeholder="Type username...">
    </div>
    <div class="settingsPage_separator">Application</div>

    <div class="settingsPage_settingLabel">
        <span>Theme:</span>
        <select class="settingsPage_button selector" @bind="_appTheme">
            @foreach (var theme in ThemesManager.GetThemes())
            {
                <option value="@(theme.Split("\\").Last())"
                        selected="@(theme.Split("\\").Last() == _appTheme)">
                    @theme.Split("\\").Last()
                </option>
            }
        </select>
    </div>
    
    <label class="settingsPage_settingLabel">
        <span>Add to startup</span>
        <div class="settingsPage_custom-checkbox @(AddToStartup ? "checked" : "")" @onclick="ToggleAddToStartup"></div>
    </label>
    <div class="settingsPage_separator">Library</div>
    <label class="settingsPage_settingLabel">
        <span>Show "+" button</span>
        <div class="settingsPage_custom-checkbox @(ShowAddButton ? "checked" : "")" @onclick="ToggleShowAddButton"></div>
    </label>
    <label class="settingsPage_settingLabel">
        <span>Show game title</span>
        <div class="settingsPage_custom-checkbox @(ShowGameTitle ? "checked" : "")" @onclick="ToggleShowGameTitle"></div>
    </label>

    <label class="settingsPage_settingLabel">
        <span>Auto-backup</span>
        <div class="settingsPage_custom-checkbox @(AutoBackup ? "checked" : "")" @onclick="ToggleAutobackup"></div>
    </label>

    <div class="settingsPage_settingLabel">
        <div style="width: 100%; display: flex; justify-content: space-between;">
            <button class="settingsPage_button" style="width: 48%" @onclick="MakeBackup"><i class="fa-solid fa-folder-plus"></i> Make backup</button>
            @if (File.Exists(Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "Data/games.json.bak")))
            {
                <button class="settingsPage_button" style="width: 48%" @onclick="RestoreBackup"><i class="fa-solid fa-clock-rotate-left"></i> Restore backup</button>
            }
        </div>
    </div>

    <div class="settingsPage_separator">Torrent</div>
    <label class="settingsPage_settingLabel">
        <span>Show link to the page of the selected game</span>
        <div class="settingsPage_custom-checkbox @(ShowLinkButton ? "checked" : "")" @onclick="ToggleShowLinkButton"></div>
    </label>
    <label class="settingsPage_settingLabel">
        <span>Show game version (not all repacks are being worked on)</span>
        <div class="settingsPage_custom-checkbox @(ShowGameVersion ? "checked" : "")" @onclick="ToggleShowGameVersion"></div>
    </label>
    <label class="settingsPage_settingLabel">
        <span>Show torrent post date (gog not working)</span>
        <div class="settingsPage_custom-checkbox @(ShowPostDate ? "checked" : "")" @onclick="ToggleShowPostDate"></div>
    </label>
    <label class="settingsPage_settingLabel">
        <span>Avoid converting the torrent file to a magnet link</span>
        <div class="settingsPage_custom-checkbox @(AvoidConvertToMagnet ? "checked" : "")" @onclick="ToggleAvoidConvertToMagnet"></div>
    </label>

    <button class="settingsPage_saveButton" @onclick="Save"><i class="fa-solid fa-floppy-disk"></i></button>
    <label class="settingsPage_versionLabel">v@_versionString
    </label>
</div>

@code {
    public static string _appTheme;
    public static string Username;
    public static bool AddToStartup;
    public static bool ShowAddButton;
    public static bool ShowGameTitle;
    public static bool AutoBackup;
    public static bool ShowLinkButton;
    public static bool ShowGameVersion;
    public static bool ShowPostDate;
    public static bool AvoidConvertToMagnet;
    static Version _version = Assembly.GetExecutingAssembly().GetName().Version;
    static string _versionString = $"{_version.Major}.{_version.Minor} \"{Program._appCodeName}\"";
    static Logger _logger = new Logger();
    
    private string GOGStatus = "fa-solid fa-hourglass-start";
    private string XatabStatus = "fa-solid fa-hourglass-start";
    private string FitGirlStatus = "fa-solid fa-hourglass-start";
    
    protected override async Task OnInitializedAsync()
    {
        GOGStatus = await GOG.GetStatus() ? "fa-solid fa-circle-check" : "fa-solid fa-circle-xmark";
        XatabStatus = await Xatab.GetStatus() ? "fa-solid fa-circle-check" : "fa-solid fa-circle-xmark";
        FitGirlStatus = await FitGirl.GetStatus() ? "fa-solid fa-circle-check" : "fa-solid fa-circle-xmark";
    }
    
    private static async Task MakeBackup()
    {
        await Backup.MakeBackupAsync();
    }
    private static async Task RestoreBackup()
    {
        await Backup.ReadBackupAsync();
    }
    
    public static async Task InitializeSettings()
    {
        var settings = await SettingsData.LoadFromJSON();
        var addToStartup = settings.FirstOrDefault(s => s.SettingName == "AddToStartup");
        AddToStartup = addToStartup != null ? (bool)addToStartup.Value : true;
    
        var addButt = settings.FirstOrDefault(s => s.SettingName == "ShowAddButton");
        ShowAddButton = addButt != null ? (bool)addButt.Value : true;

        var gameTitle = settings.FirstOrDefault(s => s.SettingName == "ShowGameTitle");
        ShowGameTitle = gameTitle != null ? (bool)gameTitle.Value : true;

        var autobackup = settings.FirstOrDefault(s => s.SettingName == "AutoBackup");
        AutoBackup = autobackup != null ? (bool)autobackup.Value : true; 

        var linkButt = settings.FirstOrDefault(s => s.SettingName == "ShowLinkButton");
        ShowLinkButton = linkButt != null ? (bool)linkButt.Value : false;

        var versionInfo = settings.FirstOrDefault(s => s.SettingName == "ShowGameVersion");
        ShowGameVersion = versionInfo != null ? (bool)versionInfo.Value : false;

        var avoidConvertToMagnet = settings.FirstOrDefault(s => s.SettingName == "AvoidConvertToMagnet");
        AvoidConvertToMagnet = avoidConvertToMagnet != null ? (bool)avoidConvertToMagnet.Value : false;

        var showPostDate = settings.FirstOrDefault(s => s.SettingName == "ShowPostDate");
        ShowPostDate = showPostDate != null ? (bool)showPostDate.Value : true;

        var appTheme = settings.FirstOrDefault(s => s.SettingName == "AppTheme");
        _appTheme = appTheme != null ? (string)appTheme.Value : "Dionysus"; 
        
        _logger.Log(Logger.LogType.DEBUG, "Settings loaded");
    }

    private void ToggleAddToStartup() => AddToStartup = !AddToStartup;
    private void ToggleShowAddButton() => ShowAddButton = !ShowAddButton;

    private void ToggleShowGameTitle() => ShowGameTitle = !ShowGameTitle;
    private void ToggleAutobackup() => AutoBackup = !AutoBackup;

    private void ToggleShowLinkButton() => ShowLinkButton = !ShowLinkButton;

    private void ToggleShowGameVersion() => ShowGameVersion = !ShowGameVersion;
    
    private void ToggleShowPostDate() => ShowPostDate = !ShowPostDate;
    
    private void ToggleAvoidConvertToMagnet() => AvoidConvertToMagnet = !AvoidConvertToMagnet;
    
    public static async Task Save()
    {
        
        ProfileData.SaveJson();
        if (AddToStartup && !AppHelper.AddedToStartup()) AppHelper.Logic(true);
        else if(!AddToStartup)  AppHelper.Logic(false);
        
        var settings = new List<SettingsModel>
        {
            new SettingsModel { SettingName = "AddToStartup", Value = AddToStartup },
            new SettingsModel { SettingName = "ShowGameTitle", Value = ShowGameTitle },
            new SettingsModel { SettingName = "ShowAddButton", Value = ShowAddButton },
            new SettingsModel { SettingName = "AutoBackup", Value = AutoBackup },
            new SettingsModel { SettingName = "ShowLinkButton", Value = ShowLinkButton },
            new SettingsModel { SettingName = "ShowGameVersion", Value = ShowGameVersion },
            new SettingsModel { SettingName = "ShowPostDate", Value = ShowPostDate },
            new SettingsModel { SettingName = "AvoidConvertToMagnet", Value = AvoidConvertToMagnet },
            new SettingsModel { SettingName = "AppTheme", Value = _appTheme },
        };
        _logger.Log(Logger.LogType.DEBUG, "Settings saved");
        await SettingsData.SaveToJSON(settings);
    }
}